.posts {
  margin: 0;
  padding: 0;
}

.post {
  display: block;
}

.post-header {
  display: flex;
  align-items: center;
}

.post-header .meta .date {
  margin-right: 2rem;
  width: 64px;
  text-align: center;
}

.post-header .meta .date .day {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 0.45em;
  font-size: 3em;
  display: block;
  margin-bottom: 20px;
}

.post-header .meta .date .rest {
  display: block;
  font-size: 0.75em;
}

.post .title.small {
  margin: 0 0 10px 0;
}

.post .post-header {
  margin-bottom: 30px;
}

.post-header h1.title {
  margin: -10px 0 0 0;
}

.archive-year {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.archive-year:before,
.archive-year:after {
  content: "";
  border-top: 2px solid;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}

.archive-year:after {
  margin: 0 0 0 20px;
}
