/* @import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700;800&display=swap');

body {
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Merriweather Sans', sans-serif;
  color: black;
  font-weight: 800;
}

a,
a:hover {
  color: #F8481C;
}

a:hover {
  border-bottom: 2px solid #F8481C;
}

::-moz-selection {
  background: #F8481C;
}

::selection {
  background: #F8481C;
}

.post .draft-label {
  color: #F8481C;
}

.post .tags a {
  border: 1px solid #F8481C;
  color: #F8481C;
}

blockquote {
  font-style: normal;
  font-size: 1.4rem;
  font-family: 'Fira Sans', sans-serif;
  border-left: 6px solid;
  border-color: #F8481C;
}

.highlight-handle {
  background: #040348;
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
}

.title {
  z-index: 999999;
  position: relative;
  letter-spacing: 1px;
}
