/* @import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
body {
  font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Source Sans Pro', sans-serif;
}

a,
a:hover {
  color: #F8481C;
}

a:hover {
  border-bottom: 2px solid #F8481C;
}

::-moz-selection {
  background: #F8481C;
}

::selection {
  background: #F8481C;
}

.post .draft-label {
  color: #F8481C;
}

.post .tags a {
  border: 1px solid #F8481C;
  color: #F8481C;
}

blockquote {
  border-color: #F8481C;
}


.highlight-handle {
  background: #040348;
  border-radius: 4px;
  color: white;
  font-family: monospace;
  padding: 4px 8px;
}

/* dark mode. Ref: https://tombrow.com/dark-mode-website-css */
/* 
@media (prefers-color-scheme: dark) {
  body {
    color: #ddd;
    background-color: #000;
  }
  
  ::-moz-selection {
      background: #666;
      text-shadow: none
  }
  
  ::selection {
      background: #666;
      text-shadow: none
  }
  
  hr {
      border-color: #333;
  }
  
  blockquote {
    border-color: #ddd;
  }
  
  h1,h2,h3,h4,h5,h6 {
    color: #ddd;
  }
  
  a,a:hover {
    color: #ff7979;
    text-decoration: none;
  }
  
  .site-description a,
  .site-description a:hover {
    color: #ddd;
    text-decoration: underline;
  }
  
  a:hover {
    opacity: 0.8;
  }
  
  .post-tags .tags a {
      border: 1px solid #ddd;
    color: #ddd;
  }
  
  .site-title a {
    color: #ddd;
    text-decoration: none !important;
  }
  
  .header nav,
  .footer {
    border-color: #333;
  }
  
  .highlight {
    background-color: #333;
  }
  
  table th {
    background-color: #333;
  }
  
  table th, table td {
      padding: 10px 20px;
      border: 1px solid #666;
  }
} */
