.search-container {
  display: inline-block;
  position: relative;
}

.search-container input {
  width: 100%;
  padding: 0.5rem;
}
.search-results {
  display: none;
  position: absolute;
  background: var(--white);
  color: var(--text-color);
  padding: 1rem;
  box-shadow: rgb(170, 170, 170) 0px 0px 3px 0px;
  max-height: 500px;
  overflow: auto;
  width: 150%;
  right: 0;
}

.search-results__items {
  list-style: none;
}
.search-results li {
  margin-top: 1rem;
  border-bottom: 1px solid #eeddee;
  font-size: 0.9rem;
}
.search-results li:first-of-type {
  margin-top: 0;
}
.search-results__item {
  margin-bottom: 1rem;
}
.search-results__item a {
  font-size: 1.2rem;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.search-icon {
  position: absolute;
  top: 5px;
  right: 15px;
}