h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3em;
  margin: 30px 0 20px 0;
  font-weight: bold;
}

h1 {
  font-size: 3.052rem;
  letter-spacing: -0.15rem;
}

h2 {
  font-size: 2.441rem;
  letter-spacing: -0.12rem;
}

h3 {
  font-size: 1.953rem;
  letter-spacing: -0.09rem;
}

h4 {
  font-size: 1.563rem;
  letter-spacing: -0.06rem;
}

h5 {
  font-size: 1.25rem;
  letter-spacing: -0.03rem;
}

h6 {
  font-size: 1rem;
  letter-spacing: 0;
}

blockquote {
  margin-left: 1rem;
  font-style: italic;
  font-size: 1.4rem;
  font-family: Georgia, bitstream charter, serif;
  border-left: 3px solid;
  border-color: var(--text-color);
  padding-left: 20px;
}

blockquote cite {
  font-size: 70%;
  opacity: 0.8;
}

blockquote em {
  font-weight: 600;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input:focus,
textarea:focus {
  outline: none;
}
