h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
  line-height: 1.3em;
  margin: 30px 0 20px 0;
  font-weight: bold;
  color: var(--heading-color);
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

blockquote {
  margin-left: 1rem;
  font-style: italic;
  font-size: 1.4rem;
  font-family: Georgia, bitstream charter, serif;
  border-left: 3px solid;
  border-color: var(--text-color);
  padding-left: 20px;
}

blockquote cite {
  font-size: 70%;
  opacity: 0.8;
}

blockquote em {
  font-weight: 600;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input:focus,
textarea:focus {
  outline: none;
}

pre,
code {
  font-family: var(--font-monospace);
  text-rendering: optimizeLegibility;
}

@media (max-width: 700px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    letter-spacing: 1px;
  }
}
