.center {
  text-align: center;
}

.ad-info {
  border-left: solid 0.3rem #64dd17;
  line-height: 24px;
  overflow: hidden;
  padding: 0.8rem;
  background-color: rgba(100, 221, 23, 0.1);
}

.ad-warning {
  border-left: solid 0.3rem #fa9209;
  line-height: 24px;
  overflow: hidden;
  padding: 0.8rem;
  background-color: red;
}
