/* :root {
  --color-black: #222427;
  --color-blacker: #222222;
  --color-white: #fff;
  --color-gray: #dedede;
  --color-primary: #f8481c;
  --link-base-color: #f8481c;
  --font-base: "Fira Sans", sans-serif;
  --font-headings: "Merriweather Sans", sans-serif;
} */

:root {
  --primary: #f8481c;
  --red: red;
  --text-color: #411b33;
  --bg-color: #fbecda;
  --black: #212529;
  --white: #fdfdfd;
  --dark-gray: #343334;
  --gray: #616060;
  --light-gray: #ccc;
  --lighter-gray: #f6f6f6;
  --font-sans-serif: system-ui, -apple-system, segoe ui, roboto, ubuntu,
    helvetica, cantarell, noto sans, sans-serif;
  --font-monospace: menlo, monaco, lucida console, liberation mono,
    dejavu sans mono, bitstream vera sans mono, courier new, monospace, serif;
  --boder-radius: 0.2rem;
}
