mrkaran.dev {
    root * /var/www/public
    file_server
    encode zstd gzip

    # Temporary redirect from old RSS path to new path
    redir /rss* /posts/atom.xml 302
    
    tls {
	    dns cloudflare REDACTED-API-KEY
    }
}
