header {
  margin-top: 2em;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

header .site-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0 0 10px 0;
  line-height: 0.2rem;
}

.social li,
.social ul {
  margin: 0;
  padding: 0;
}

.social li {
  display: inline-block;
  list-style: none;
  margin: 0 30px 0 0;
}

.social a {
  color: #333;
}
.social a:hover {
  color: var(--primary);
}

.social nav {
  margin: 0;
  padding: 0;
  border: none;
  min-width: 50px;
  margin-left: 15px;
}

.social ul svg {
  max-height: 15px;
}

nav {
  border-top: 1px solid var(--text-color);
  padding-top: 1rem;
}

nav a {
  margin-right: 1.5rem;
}

@media (max-width: 900px) {
  .social li {
    margin: 0;
  }
  nav a {
    margin-right: 0.5rem;
  }
}
