<!DOCTYPE html>
<html lang="{{ lang | default(value="en-US" ) }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if config.extra.favicon %}
    <link rel="shortcut icon" href="{{ config.extra.favicon }}">
    {%- endif -%}
    <title>{%- block title %}{{ config.title }}{%- endblock %}</title>
    <meta name="referrer" content="no-referrer-when-downgrade">
    {% include "og.html" %}
    {%- if config.generate_feed %}
    {% block rss -%}
    <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="{{ config.title }}" href="{{ get_url(path=config.feed_filename) | safe }}">
    {%- endblock -%}
    {%- endif %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ get_url(path="styles/main.css", trailing_slash=false) | safe }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.1/feather.min.js" integrity="sha512-4lykFR6C2W55I60sYddEGjieC2fU79R7GUtaqr3DzmNbo0vSaO1MfUjMoTFYYuedjfEix6uV9jVTtRCSBU/Xiw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer data-domain="mrkaran.dev" src="https://pls.mrkaran.dev/js/script.js"></script>
</head>
<body>
<header>
    <a href="{{ config.base_url | safe }}" class="title">
        <h2 class="name">{{ config.title }}</h2>
    </a>
    <nav>
        <div class="nav-items">
            <a href="{{ config.base_url | safe }}">Home</a>
            {%- if config.extra.main_menu %}
            {%- for item in config.extra.main_menu %}
            {%- if item.url is matching("https?://") %}
            <a href="{{ item.url | safe }}">{{ item.name | safe }}</a>
            {%- else %}
            <a href="{{ get_url(path=item.url ) | safe }}">{{ item.name | safe }}</a>
            {%- endif %}
            {%- endfor %}
            {%- endif -%}
        </div>
        <button class="theme-toggle" title="Toggle Dark Mode">
            <i data-feather="moon"></i>
        </button>
    </nav>
</header>
{% block main %}{%- endblock -%}
<footer>
    © 2023 Karan Sharma<br>
    <div class="social-links">
        <a href="https://github.com/mr-karan" target="_blank" rel="noopener noreferrer" title="GitHub" class="social-icon"><i data-feather="github"></i></a>
        <a href="/posts/atom.xml" target="_blank" rel="noopener noreferrer" title="RSS Feed" class="social-icon"><i data-feather="rss"></i></a>
    </div>
</footer>
<script>
    feather.replace();
    const themeToggle = document.querySelector('.theme-toggle');
    const currentTheme = localStorage.getItem('theme');

    // Set the initial theme based on user preference or localStorage
    if (currentTheme) {
        document.body.setAttribute('data-theme', currentTheme);
        if (currentTheme === 'dark') {
            themeToggle.innerHTML = '<i data-feather="sun"></i>';
            feather.replace();
        }
    }

    themeToggle.addEventListener('click', function() {
        let theme = 'light';
        
        // Add the transition class
        document.body.classList.add('theme-transition');

        if (document.body.getAttribute('data-theme') !== 'dark') {
            theme = 'dark';
            themeToggle.innerHTML = '<i data-feather="sun"></i>';
        } else {
            themeToggle.innerHTML = '<i data-feather="moon"></i>';
        }
        feather.replace();
        document.body.setAttribute('data-theme', theme);
        localStorage.setItem('theme', theme);

        // Remove the transition class after 0.5s
        setTimeout(() => {
            document.body.classList.remove('theme-transition');
        }, 500);
    });
</script>
</html>
