<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Karan Sharma - Ramblings on tech, cycling, and finance</title>
    <meta name="description" content="Ramblings on tech, cycling, and finance." />
    <meta name="keywords" content="mrkaran, karan, karan sharma" />
    <meta property="og:title" content="Karan Sharma - Ramblings on tech, cycling, and finance" />
    <meta property="og:url" content="https://mrkaran.dev" />
    <meta property="og:description" content="Ramblings on tech, cycling, and finance." />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://mrkaran.dev/_assets/og.png" />
    <link rel="stylesheet" href="{{ get_url(path="base.css", trailing_slash=false) | safe }}">
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
</head>

<body>
    <header>
        <h1>Karan Sharma</h1>
        <div class="site-description">
            <p>Ramblings on tech, cycling, and finance</p>
            <div class="social">
                <ul>
                    <li>
                        <a href="https://github.com/mr-karan" title="Github"><i data-feather="github"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/mrkaran_" title="Twitter"><i data-feather="twitter"></i></a>
                    </li>
                    <li>
                        <a href="/index.xml" title="RSS"><i data-feather="rss"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <nav>
            {% for menu_link in config.extra.menu_links %}
            {% set link_url = menu_link.url | replace(from="$BASE_URL", to=config.base_url) %}
            <a {% if current_url and current_url == link_url %}class="active" {% endif %}
                href="{{ link_url }}">{{menu_link.name}}
            </a>
            {% endfor %}
        </nav>
    </header>
    <article>{% block content %} {% endblock %}</article>
    <footer>
        <p>
            © {{ config.title }} {{ now() | date(format="%Y") }}<br>
            Powered by <a target="_blank" href="https://getzola.org/">Zola</a>
        </p>
    </footer>
    <script>
        feather.replace();
    </script>
</body>

</html>